/*DirectEmployers Foundation UI Framework                               
********************************************************************************
This system is built on Bootstrap, by twitter.

Copyright 2011-12 DirectEmployers Foundation
Updated Dec 20 2011
*******************************************************************************/
/*Load the base bootstrap css*/
    @import url(http://css.nlx.org/framework/css/bootstrap.min.css);
	
/*Load the jquery themeroller css*/
    @import url(http://css.nlx.org/framework/css/jqsmoothness.css);


/*Document level classes*/
html,body{
	height: 100%;
	background-color: #453a24;
	}
body{
	font-family: Arial, Helvetica, sans-serif;
}
header,footer{
    background-color: transparent;
    color: #fff;
	margin: 0px;
}
footer{
	padding-top: 0px;
	border-width: 0;
	}
.section{
}
.wrapper{
    margin: 0 auto;
    width: 960px;
    display: block;
}
/*Header Level Elements*/
h1{
    color: #900;
}
h2{
    line-height: 1;
	font-size: 1.7em;
	color: #333;
}
.h2block{
	background-color: #fff;
	padding: 5px 20px;
	border-width: 1px;
	border-color: #d4d0c5;
	border-style: solid;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	margin-bottom: 20px;
	}
.h2block h2{
	margin-bottom: 10px;
	}
p+h2{
	margin-top: 20px;
	}
/*Tables*/
.rowTitle{
    font-weight: bold;
}
/*Lists*/
li{
	color: #000;
	}
dd{
	margin-bottom: 10px;
	}
/*Blockquote*/
.section blockquote{
    margin: 10px;
    padding: 5px;
    border-width: 2px;   
    border-style: solid;
    border-color: #999;
    border-color: rgba(127,127,127,.5);
    background-color: rgba(255,255,255,.5);
}

/*Contant Containers*/
.hero-unit h1{
    background: #333;
    color: #fff;
    margin: -60px -60px 0 -60px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-topleft-radius: 6px;
    -moz-border-topright-radius: 6px;
}
.roundedCorners6{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.roundedCorners6>h2{
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-topleft-radius: 6px;
    border-topright-radius: 6px;
}
#focusBox{
	border-width: 8px;
	border-color: #d2cdc1;
	border-color: rgba(187, 181, 165, 0.6);
	border-style: solid;	
	background-color: #d7d2c3;
	background-color: rgba(196,190,167,0.6);
	background-clip: padding-box;
	border-radius: 8px;
	padding: 10px;
	}	
.takeover{
	margin: -10px;
	}
.takeover + .takeover{
	margin-top: 20px;
	}
.section p,.section dl,.section ol,.section ul{
    padding: 10px;
}
p.columns{
	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
	column-gap: 2em;
	}
p.col3{
	-moz-column-count:3;
	-webkit-column-count: 3;
	column-count: 3;
	}
p.col2{
	-moz-column-count:2;
	-webkit-column-count: 2;
	column-count: 2;
	}
/*Footer elements*/
#bottomLinks a{
	color: #fff;
	}
#bottomTabs{
	background: #251c02;
	border-width: 0px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-color:#a3aeb1;
	border-style: solid;
	color:#fff;
	}
#bottomTabs .wrapper .row{	
	padding-bottom: 19px;
	height: 116px;
	background-image: url(http://css.nlx.org/def-static/images/monologo.png);
	background-position: 35px 6px;
	background-repeat: no-repeat;
	}
#bottomTabs h3{
	padding-top: 10px;
	color: #fff;
	font-weight: normal;
	line-height: 1em;
	padding-bottom: 5px;
	background-color: transparent;
	}
#bottomTabs p{
	line-height: 1.5em;	
	}
#bottomLinks{
	padding-top: 5px;
	color: #fff;
	}
#bottomLinks a{
	color: #fff;
	}
#bottomLinks #footerSubLinks a{
	font-weight: normal;	
	}
#bottomLinks .subpageLinks a{
	margin-left: 30px;
	}
/*Top bar dimensions*/
body{
	padding-top: 32px;
	}
body.home{
	padding-top: 0px;
	}	
.topbar h3 a{
	padding: 0px 20px;
	}
.topbar-inner{
	background-color: #333;
	height: 30px;
	padding: 1px 10px 1px 0px;
	}
.topbar form{
	margin: -6px 0 0 0px;
	}
.topbar fieldset{
	margin-bottom: 0px;
	padding-top: 1px;
	}
.topbar-wrapper {
	position: relative;
	height: 40px;
	margin: 5px 0 15px;
	}	
.topbar-wrapper .topbar {
	position: absolute;
	margin: 0px;	
	}	
.topbar h3 a{
	background-image: url(http://css.nlx.org/def-static/images/DEFlogo-horz.png);
	background-repeat: no-repeat;
	text-indent: -9000px;
	width: 280px;
	height: 30px;
	padding: 0px;
	}


.topbar-wrapper .topbar .topbar-inner{	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	padding: 0 20px 0 40px;
	}
.topbar-wrapper .topbar .topbar-inner .container{
	width: auto;
	}
.topbar div > ul, .topbar .nav{
	margin-left: 20px;
	}
.topbar div > ul a, .nav a {
	padding: 3px 10px 3px 10px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius: 4px;	
	margin-top: 2px;
	}
.topbar div > ul a:hover, .nav a:hover {
	background-color: #666;
	cursor: pointer;
	}
.topbar li{
	line-height: 1;
	}
.topbar .btn{
	color: #000;
	}
/*Button dimensions*/
.btn{
	padding-top: 6px;
	padding-bottom: 7px;
	}
	
/*Grid Structure additions*/
.span-one-fifth{
	width: 172px;
	}
.span-two-fifths{
	width: 364px;
	}
.span-two-fifths input[type=text]{
	width: 300px;
	}
.span-three-fifths{
	width: 556px;
	}
/*Text focusing classes*/	
em.underline{
	font-style: normal;
	text-decoration:underline;
	}	
	
/*Default Page level styles*/	
.leaderBoard,.subpage{
	background-color: #f4f1ee;
	background-image: url(http://png.nlx.org/def-static/images/bgpattern.jpg);
	background-position: top left;
	background-repeat: repeat;
	padding-bottom: 20px;	
	padding-top: 25px;
}
