.col16-span1{width:40px;}
.col16-span2{width:100px;}
.col16-span3{width:160px;}
.col16-span4{width:220px;}
.col16-span5{width:280px;}
.col16-span6{width:340px;}
.col16-span7{width:400px;}
.col16-span8{width:460px;}
.col16-span9{width:520px;}
.col16-span10{width:580px;}
.col16-span11{width:640px;}
.col16-span12{width:700px;}
.col16-span13{width:760px;}
.col16-span14{width:820px;}
.col16-span15{width:880px;}
.col16-span16{width:940px;}
.col16-span17{width:1000px;}
.col16-span18{width:1060px;}
.col16-span19{width:1120px;}
.col16-span20{width:1180px;}
.col16-span21{width:1240px;}
.col16-span22{width:1300px;}
.col16-span23{width:1360px;}
.col16-span24{width:1420px;}
.col16-offset1{margin-left:80px;}
.col16-offset2{margin-left:140px;}
.col16-offset3{margin-left:200px;}
.col16-offset4{margin-left:260px;}
.col16-offset5{margin-left:320px;}
.col16-offset6{margin-left:380px;}
.col16-offset7{margin-left:440px;}
.col16-offset8{margin-left:500px;}
.col16-offset9{margin-left:560px;}
.col16-offset10{margin-left:620px;}
.col16-offset11{margin-left:680px;}
.col16-offset12{margin-left:740px;}
input.col16-span1,textarea.col16-span1,select.col16-span1{display:inline-block;float:none;width:30px;margin-left:0;}
input.col16-span2,textarea.col16-span2,select.col16-span2{display:inline-block;float:none;width:90px;margin-left:0;}
input.col16-span3,textarea.col16-span3,select.col16-span3{display:inline-block;float:none;width:150px;margin-left:0;}
input.col16-span4,textarea.col16-span4,select.col16-span4{display:inline-block;float:none;width:210px;margin-left:0;}
input.col16-span5,textarea.col16-span5,select.col16-span5{display:inline-block;float:none;width:270px;margin-left:0;}
input.col16-span6,textarea.col16-span6,select.col16-span6{display:inline-block;float:none;width:330px;margin-left:0;}
input.col16-span7,textarea.col16-span7,select.col16-span7{display:inline-block;float:none;width:390px;margin-left:0;}
input.col16-span8,textarea.col16-span8,select.col16-span8{display:inline-block;float:none;width:450px;margin-left:0;}
input.col16-span9,textarea.col16-span9,select.col16-span9{display:inline-block;float:none;width:510px;margin-left:0;}
input.col16-span10,textarea.col16-span10,select.col16-span10{display:inline-block;float:none;width:570px;margin-left:0;}
input.col16-span11,textarea.col16-span11,select.col16-span11{display:inline-block;float:none;width:630px;margin-left:0;}
input.col16-span12,textarea.col16-span12,select.col16-span12{display:inline-block;float:none;width:690px;margin-left:0;}
input.col16-span13,textarea.col16-span13,select.col16-span13{display:inline-block;float:none;width:750px;margin-left:0;}
input.col16-span14,textarea.col16-span14,select.col16-span14{display:inline-block;float:none;width:810px;margin-left:0;}
input.col16-span15,textarea.col16-span15,select.col16-span15{display:inline-block;float:none;width:870px;margin-left:0;}
input.col16-span16,textarea.col16-span16,select.col16-span16{display:inline-block;float:none;width:930px;margin-left:0;}
