{% load i18n %}
{% comment %}
meta.html -- default page metadata 
{% endcomment %}
<title>{{ title }}</title>
    {# The following lines load the DE framework from the CDN #}
    <meta name="viewport" content="width=device-width"/>
    <link href="http://css.nlx.org/framework/css/def.ui.css" rel="stylesheet" type="text/css">
    <script src="http://js.nlx.org/framework/js/def.ui.core.js"></script>
    <!--Customize the favicon and apple shortcut icon to the specific app. Default value is DEF logo-->
    <link href="http://png.nlx.org/def-static/images/favicon.ico" rel="shortcut icon">    
    <link rel="apple-touch-icon" sizes="57x57" href="http://png.nlx.org/def-static/images/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="http://png.nlx.org/def-static/images/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="http://png.nlx.org/def-static/images/apple-touch-icon-114x114.png"/>


