<!doctype html>
<html>
<head>
    {% include "includes/meta.html" %}
</head>
<body>
    {% include "includes/topbar.html" %}
    {% block subpage %}    
    <section><div class="section subpage">
        <div class="wrapper">
	    <div class="row">
    		<div class="span16">
		    {% block content %}
		    <h1>The content</h1>
		    {% endblock content %}
		</div>
	    </div>
	<div>
    </div></section>
    {% endblock subpage %}
    {% block footer %}    
    <footer><div class="footer">
	<div id="bottomTabs">
	    {% block bottomtabs %}
	    <div class="wrapper">
		<div class="row">
		</div>
	    </div>
	    {% endblock bottomtabs %}
	</div>
    {% endblock footer %}
    {% include "includes/analytics.html" %}
</body>
</html>