body{		
	min-width: 960px;
	}
.wrapper{
	width: 98%;
	margin: 0 auto;
	}
.row{
	margin-left: -10px;
	}
#bottomLinks .foundationName{
	display: none;
	}
#bottomLinks a{
	display: block;
	float: left;
	margin: 5px 5px !important;
	border: 1px solid #fff;
	padding: 10px 10px;
	text-align: center;
	font-size: 1.5em;
	background: #251C02;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	}
.topbar-wrapper{
	height: auto;
	width: 100%;
	}
.topbar,.topbar-wrapper .topbar{
	position: static;
	height: auto;
	}
body > .topbar{
	margin-top: -30px;
	}
	
.topbar h3 a, .topbar .brand{
	margin-left: 5px;
	}
.topbar .container {
	width: auto;
	}
.topbar h3{
	position: static;
	}
.topbar .topbar-inner{
	height: auto;
	margin: 0px;
	padding: 0px;
	}	
body > .topbar li a,
.topbar-wrapper .topbar div > ul li a{
	display: block;
	font-size: 1.5em;
	background: #333;
	margin: 5px 5px !important;
	border: 1px solid #fff;
	padding: 10px 10px;
	text-align: center;
	}
.topbar-wrapper .topbar .topbar-inner{
	background: #333;
	height: auto;
	margin: 0px;	
	padding: 0px;
	}

.section li a,
.leaderBoard li a,
#focusBox li a{
	background: rgba(255,255,255,.5);
	border-color: #0069D6;
	border-width: 2px;
	border-style: solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 2px 6px;
	display: inline-block;
	margin: 2px 0;
	}
.topbar-wrapper ul.menu + .pull-right{
	margin-top: 5px;
	}
.topbar ul.menu + .pull-right{
	float: left;
	}
.topbar ul.menu + .pull-right #search{
	width: 797px;
	margin: 10px 0px 5px 10px;
	font-size: 1.5em;
	height: 32px;
	}
.topbar-wrapper ul.menu + .pull-right #search{			
	margin: 0px 0px 5px 22px;
	width: 736px;
	}
.topbar .inline-inputs form #search + input.small{
	font-size: 1.5em;
	width: 120px;
	height: 40px;
	display: inline-block;
	margin: 10px 0px 5px 0px;
	}
#bottomLinks .subpageLinks a {
	margin-left: 0px;
	}
#footerSubLinks{
	width: auto;
	}
#footerSubLinks .pull-right{
	float: none;
	margin: 0 auto;
	}