{% extends "base.html" %}
{% block page-header-text %}
<h2>Login: </h2><small>using your favorite website</small>
{% endblock page-header-text %}

{% block main-text %}
<div>
  <h3>Login using <a href="http://oauth.net/" title="OAuth">OAuth</a> from:</h3>
  <ul>
    {% for name in social_auth.backends.oauth %}
    <li><a rel="nofollow" href="{% url socialauth_begin name %}">{{ name|title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>Login using <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-10" title="OAuth2">OAuth2</a> from:</h3>
  <ul>
    {% for name in social_auth.backends.oauth2 %}
    <li><a rel="nofollow" href="{% url socialauth_begin name %}">{{ name|title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>Login using <a href="http://openid.net/" title="OpenId">OpenId</a> from:</h3>
  <ul>
    {% for name in social_auth.backends.openid %}
    <li>
      {% if name != "livejournal" and name != "openid" %}
      <a rel="nofollow" href="{% url socialauth_begin name %}">{{ name|title }}</a>
      {% else %}
      {% if name == "livejournal" %}
      <form action="{% url socialauth_begin "livejournal" %}" method="post">{% csrf_token %}
      <div>
	<label for="openid_lj_user">LiveJournal user:</label>
	<input id="openid_lj_user" type="text" value="" name="openid_lj_user" />
	<input type="submit" value="Login"/>
      </div>
      </form>
      {% else %}
      {% if name == "openid" %}
      <form action="{% url socialauth_begin "openid" %}" method="post">{% csrf_token %}
      <div>
	<label for="openid_identifier">Other provider</label>
	<input id="openid_identifier" type="text" value="" name="openid_identifier" />
	<input type="submit" value="Login" />
      </div>
      <p class="helptext">Like your personal <a href="https://www.myopenid.com/" title="My OpenId">myopenid</a></p>
      </form>
      {% endif %}
      {% endif %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock main-text %}

{% block sidebar-a-text %}
  <h3>Privacy Info</h3>
  <p>We believe that finding a job should not require your
     personal information be sold to anyone. Our policy is to never
     sell your personal information and to always respect your
     privacy.</p>
  <a class="btn info">Privacy Policy</a>
  <h3>About .jobs</h3>
  <p>.Jobs is a network of (1022) direct-to-employer job boards. We only list
     jobs from the actual employers. No headhunters. No
     start-your-own business offers. No fake jobs designed to trick
     you into giving your personal information away.</p>
    <a class="btn info">More</a>
{% endblock sidebar-a-text %}
